
@{
    ViewBag.Title = "GetHangers";
}

<h2>GetHangers</h2>

@using(Html.BeginForm())
{
    <table>
        <tr>
            <td><label for="FromDate">From Date</label></td>
            <td>@Html.TextBox("FromDate", null, new { type = "date" })</td>
            <td>@Html.ValidationMessage("FromDate")</td>
        </tr>
        <tr>
            <td><label for="ToDate">To Date</label></td>
            <td>@Html.TextBox("ToDate", null, new { type = "date" })</td>
            <td>@Html.ValidationMessage("ToDate")</td>
        </tr>
        <td>
            <input type="submit" value="Submi"/>
        </td>
    </table>
}

@if(ViewBag.msg!=null)
            {
                <p class="text-danger">@ViewBag.msg</p>
            }