
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td><label for="PilotName">Pilot Name:</label></td>
            <td>@Html.TextBox("PilotName")</td>
            <td>@Html.ValidationMessage("PilotName")</td>
        </tr>
        <tr>
            <td><label for="LicenseNo">License Number:</label></td>
            <td>@Html.TextBox("LicenseNo")</td>
            <td>@Html.ValidationMessage("LicenseNo")</td>
        </tr>
        <tr>
            <td><label for="SocialSecurityNo">Social Security Number:</label></td>
            <td>@Html.TextBox("SocialSecurityNo")</td>
            <td>@Html.ValidationMessage("SocialSecurityNo")</td>
        </tr>
        <tr>
            <td><label for="DateOfBirth">Date of Birth:</label></td>
            <td>@Html.TextBox("DateOfBirth", null, new { type = "date" })</td>
            <td>@Html.ValidationMessage("DateOfBirth")</td>
        </tr>
        <tr>
            <td><label for="Gender">Gender:</label></td>
            <td>
                @Html.DropDownList("Gender", new List<SelectListItem>
               {
                   new SelectListItem { Value = "", Text = "Select" },
                   new SelectListItem { Value = "Male", Text = "Male" },
                   new SelectListItem { Value = "Female", Text = "Female" },
                   new SelectListItem { Value = "Others", Text = "Others" }
               }, new { @class = "form-control" })
            </td>
            <td>@Html.ValidationMessage("Gender")</td>
        </tr>
        <tr>
            <td><label for="MobileNo">Mobile Number:</label></td>
            <td>@Html.TextBox("MobileNo")</td>
            <td>@Html.ValidationMessage("MobileNo")</td>
        </tr>
        <tr>
            <td><label for="EmailAddress">Email Address:</label></td>
            <td>@Html.TextBox("EmailAddress")</td>
            <td>@Html.ValidationMessage("EmailAddress")</td>
        </tr>
        <tr>
            <td><label for="HouseNo">House Number:</label></td>
            <td>@Html.TextBox("HouseNo")</td>
            <td>@Html.ValidationMessage("HouseNo")</td>
        </tr>
        <tr>
            <td><label for="City">City:</label></td>
            <td>@Html.TextBox("City")</td>
            <td>@Html.ValidationMessage("City")</td>
        </tr>
        <tr>
            <td><label for="State">State:</label></td>
            <td>@Html.TextBox("State")</td>
            <td>@Html.ValidationMessage("State")</td>
        </tr>
        <tr>
            <td><label for="Country">Country:</label></td>
            <td>@Html.TextBox("Country")</td>
            <td>@Html.ValidationMessage("Country")</td>
        </tr>
        <tr>
            <td><label for="PinNo">Pin Number:</label></td>
            <td>@Html.TextBox("PinNo")</td>
            <td>@Html.ValidationMessage("PinNo")</td>
        </tr>
        <tr>
            <td><label for="AddressLine">Address Line:</label></td>
            <td>@Html.TextArea("AddressLine")</td>
            <td>@Html.ValidationMessage("AddressLine")</td>
        </tr>
        <tr>
            <td colspan="3"><input name="AddPilotBtn" type="submit" value="AddPilot" /></td>
            <td colspan="3"><input name="AddPilotBtn" type="submit" value="Reset" /></td>
        </tr>

    </table>
}
@if (ViewBag.msg != null)
{
    <p class="text-danger">@ViewBag.msg</p>
}